<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.w3.org/2001/XMLSchema-instance http://www.springframework.org/schema/instance/XMLSchema-instance.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!--    开启组件扫描，会扫描配置package目录中所有的类，包括子文件夹中的，有注解就加入容器-->
    <context:component-scan base-package="com.coolway.bean"></context:component-scan>
    <context:component-scan base-package="com.coolway.dao"></context:component-scan>
    <context:component-scan base-package="com.coolway.service"></context:component-scan>


    <!--    将User对象交给spring容器管理-->
    <!--    <bean name="User" class="com.coolway.bean.User">-->
    <!--        <property name="name" value="zw"></property>-->
    <!--        <property name="age" value="21"></property>-->
    <!--    </bean>-->
</beans>
