<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.w3.org/2001/XMLSchema-instance http://www.springframework.org/schema/instance/XMLSchema-instance.xsd
       http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--aop配置通知对象-->
    <bean name="SoutAdvice" class="com.coolway.aspect.SoutAdvice"></bean>
    <!--aop将通知对象织入目标对象-->
    <aop:config>
        <!--aop配置切入点-->
        <aop:pointcut id="allPoint" expression="execution(* com.coolway.service.impl.StudentServiceImpl.*(..))"/>
        <!--配置切面-->
        <aop:aspect ref="SoutAdvice">
            <aop:before method="before" pointcut-ref="allPoint"></aop:before>
            <aop:after-returning method="afterReturning" pointcut-ref="allPoint"></aop:after-returning>
            <aop:after-throwing method="afterThrowing" pointcut-ref="allPoint"></aop:after-throwing>
        </aop:aspect>
    </aop:config>

    <!--配置aop事务通知-->
    <tx:advice id="tranAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false"/>
        </tx:attributes>
    </tx:advice>
    <!--配置aop事务切面-->
    <aop:config>
        <!--配置切点-->
        <aop:pointcut id="tranPoint" expression="execution(* com.coolway.service.impl.StudentServiceImpl.*(..))"/>
        <!--配置切面-->
        <aop:advisor advice-ref="tranAdvice" pointcut-ref="tranPoint"></aop:advisor>
    </aop:config>

    <!--开启注解式aop事务管理-->
    <tx:annotation-driven></tx:annotation-driven>


    <!--    强制spring使用cglib代理方式，防止代理混乱-->
    <aop:aspectj-autoproxy  proxy-target-class="true"/>
</beans>