<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--配置sqlSessionFactory-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源和mybatis配置文件路径-->
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
    </bean>

    <!--配置Dao-->
    <bean id="studentSpringDao" class="com.coolway.dao.impl.StudentSpringDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean"></property>
    </bean>

    <!--配置mapper代理对象-->
<!--    <bean id="studentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        &lt;!&ndash; 配置sqlSessionFactory &ndash;&gt;-->
<!--        <property name="sqlSessionFactory" ref="sqlSessionFactoryBean" />-->
<!--        &lt;!&ndash; 配置Mapper接口 &ndash;&gt;-->
<!--        <property name="mapperInterface" value="com.coolway.dao.StudentMapper" />-->
<!--    </bean>-->

    <!-- Mapper代理的方式开发方式二，扫描包方式配置代理 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 配置Mapper接口 -->
        <property name="basePackage" value="com.coolway.dao" />
    </bean>


    <import resource="spring-jdbc.xml"></import>
</beans>